* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  padding: 1vh;
}
.designe {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(245, 177, 177);
}
/* *------------------------------- */
.grid {
  display: grid;
  grid-gap: 10px;
}

.app-wrapper {
  min-height: 98vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 250px 250px 1fr auto;
  grid-template-areas:
    "header header"
    "nav topimage"
    "nav profile"
    "nav posts"
    "footer footer";
}

.header {grid-area: header;}
.navigator {grid-area: nav;}
.top-image {grid-area: topimage;}
.profile {grid-area: profile;}
.posts {grid-area: posts;}
.footer {grid-area: footer;}


/**-------------------------------- nav-header */
.header{
   grid-template-columns: repeat(2, auto);
   justify-content: start;
}
.main-logo {
   height: 50px;
 }

/**-----------------------------------------------*/




/**-------------------------------- nav-panel */
.navigator{
   background: rgb(8, 1, 1);
   grid-auto-rows: 50px;
}
.nav-item{
   padding: 5px;
   align-self: center;
   justify-self: stretch;
}
.link {
   padding: 8px;
   display: inline-block;
   text-decoration: none;
   color: #fff;
   font-size: 22px;
}
.link:hover {
   background: linear-gradient(180deg, #000, rgb(236, 14, 151), #000);
   border-radius: 10px;
}
/**-----------------------------------------------*/



/**-------------------------------- profile */
.profile {
   
   grid-row-gap: 5px;
   grid-template-columns: 200px auto;
   grid-template-rows: 50px 1fr;
   grid-template-areas: "avatar nick"
                        "avatar info";
}
.nick {
   background: #000;
   color: #fff;
   grid-area: nick;
   text-align: center;
}
.avatar {
   grid-area: avatar;
   display: flex;
   align-items: stretch;
   justify-content: center;
   box-shadow: rgb(59, 58, 58) 5px 5px 2px 0px;
}
.userinfo {
   margin: 0 5px;
   box-shadow: rgb(59, 58, 58) 0px 3px 0px 5px;
   grid-area: info;
   overflow: auto;
}

.avatar img {
  width: 100%;
  object-fit: cover;
}
/**-----------------------------------------------*/




/**-------------------------------- topImage */
.top-image {
   display: flex;
   align-items: stretch;
}
.top-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
/**-----------------------------------------------*/



/**------------------------------------Posts*/
.posts{
   padding-right: 10px;
   background: #fff;
   grid-gap: 17px;
   grid-auto-rows: min-content;
}
.coments {
   width: 150px;
   box-shadow: rgb(59, 58, 58) 2px 7px 2px 5px;
}
.article{
   border-radius: 0px 0px 10px 10px;
   background: linear-gradient(180deg,rgb(247, 162, 162), #fff);
   padding: 10px 5px 5px 60px;
   position: relative;
   box-shadow: rgb(59, 58, 58) 2px 7px 2px 5px;
}
.article p {
   min-height: 50px;
}
.article-logo{
   position: absolute;
   top: 10px;
   left: 10px;
   width: 40px;
   height: 40px;
}
.article-logo img {
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
}
/**-----------------------------------------------*/

@media (max-width: 1300px) {
  .app-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 250px 250px 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "topimage"
      "profile"
      "posts"
      "footer";
   }
  .navigator{
   grid-auto-flow: column;
   justify-content: center;
   }
}

@media (max-width: 1050px) {
  .app-wrapper{
     grid-template-rows: 60px auto 250px auto 1fr auto;
  }
  .profile {
     position: relative;
     grid-template-columns: 1fr;
     grid-column-gap: 0;
  }
  .userinfo {
    padding: 5px 5px 5px 70px;
  }
  .avatar {
    border-radius: 50%;
    padding: 3px;
    background-color: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
  }
  .avatar img {
    border-radius: 50%;
  }
}
@media (max-width: 600px) {
   .navigator{
      grid-auto-flow: row;
      justify-content: start;
      }
   .avatar {
      top: 60px;
      left: 10px;
   }
}
@media (max-width: 330px) {
   .app-wrapper{
      grid-template-rows: auto auto 250px auto 1fr auto;
   }
}